body {
	font-family: Helvetica,Arial,sans-serif;
	text-shadow: 0 1px 0 #FFF;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-text-size-adjust: none;
	position: relative;
}
ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
}

/*Hobbit Ui Header*/
header { 
	position: relative;
	box-shadow: 0 2px 4px #999;
	width: 100%;
	height: 44px;
	background-image: -webkit-linear-gradient(white,#D1D1D1);
}
header a {
	float: left;
	background-repeat: no-repeat;
	height: 32px;
	line-height: 32px;
	width: 32px;
	min-width: 32px;
	margin: 6px 7px;
	border-radius: 4px;
	background-color: #F8F8F8;
	-webkit-box-shadow: 1px 1px 1px #666;
	box-shadow: 1px 1px 1px #666;
	text-decoration: none;
	color: #0F8BC8;
	text-shadow: none;
	text-align: center;
}
header h1 {
	position: absolute;
	right: 60px;
	left: 60px;
	height: 44px;
	display: block;
	margin: 0;
	padding: 0;	
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	line-height: 44px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
footer {
    width:100%;
    padding: 15px 0;
    background: #EEE;
    border-bottom: 1px solid #B3B3B3;
    background-image: -webkit-gradient(linear,left top,left bottom,from(white),to(#DDD));
    background-image: -webkit-linear-gradient(white,#DDD);
    text-align: center;
    font-weight: bold;
}
.ui_page { }
.ui_content {
    padding: 5px 0;
}


/*Hobbit Ui Nav*/
nav { margin: 0 15px;}
nav .ui_drawer{ margin-left: -15px; margin-right:-15px;}
nav a, 
nav a:link, 
nav a:visited{
	position: relative;
	width: 100%;
	height: 53px;
	display: block;
	line-height: 53px;
	border-bottom: dotted 1px #666;
	overflow: hidden;
	font-weight: bold;
	text-indent: 10px;
	background-clip: padding;
	text-decoration: none;
	color: #000;
}
nav a:active {
	border-radius: 6px;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#1E9DE0),to(#016CA4));
    background-image: -webkit-linear-gradient(#1E9DE0,#016CA4);
    color: #FFF;
	text-shadow: 0 1px 0 #666;
}
nav a .nav_arrow_r,
nav a:link .nav_arrow_r,
nav a:visited .nav_arrow_r {
    width:6px; 
    height:6px; 
    border-right: 3px solid #1387C3; 
    border-top: 3px solid #1387C3;
    -webkit-transform: rotate(45deg);
    position:absolute;
    right:6px;
    top: 50%;
    margin-top: -3px;
    display: block;
}
nav  a:active .nav_arrow_r {
    border-color: #FFF;
}

/*Hobbit Ui Loader*/
.ui_loader {
    z-index: 9999999;
	position: fixed;
	top: 50%;
	left: 50%;
	box-shadow: 0 1px 1px -1px white;
	border: 1px solid #444;
	background: #222;
	color: white;
	text-shadow: 0 1px 1px #111;
	font-weight: normal;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#444),to(#222));
	background-image: -webkit-linear-gradient(#444,#222);
	-webkit-border-radius: .6em;
	border-radius: .6em;
	width: 200px;
	opacity: .88;
	height: auto;
	margin-left: -110px;
	margin-top: -43px;
	padding: 10px;
	text-align: center; }
.ui_loader .ui_loader_round {
	width: 46px;
	height: 46px;
	-webkit-border-radius: 23px;
	border-radius: 23px;
	-webkit-animation: rotate 1s linear infinite;
	animation: rotate 1s linear infinite;
	background:#000;
	margin:0 auto;
	position: relative;
}
.ui_loader .ui_loader_ring {
	position:absolute;
	top: 7px;
	left: 7px;
    border: 6px solid transparent;
    border-top: 6px solid #FFF;
    border-left: 6px solid #FFF;
    border-radius: 20px;
    width: 20px;
    height: 20px;
}
@-webkit-keyframes rotate{
	0%{ -webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(360deg);}
}
.ui_loader h1 {
	font-size: 16px;
	text-align: center;
}

/*Hobbit Ui Drawer*/
.ui_drawer{
	display:none;
	margin: -1px 0 1px 0;
	background-color:#EDEDED;
	padding:0 15px;
	box-shadow: inset 0px -2px 9px #999;
	-webkit-box-shadow: inset 0px -2px 9px #999;
	border-bottom: none;
	overflow:hidden;
}

input {-webkit-appearance: none;/*解决 input: focus 样式不能出来的问题*/}
.btn {
	display: block;
	height: 43px;
	line-height: 43px;
	font-weight: bold;
	font-size: 18px;
	color: #fff;
	text-align: center;
	text-shadow: none;
	border-radius: 8px;
	border: 1px solid #DD4400;
	background: #FF9C00;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FF9C00), to( #DD4400)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FF9C00, #DD4400); /* Chrome 10+, Saf5.1+ */
	margin: 15px 10px 5px;
}
.btn:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from( #DD4400), to( #FF9C00)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #DD4400, #FF9C00); /* Chrome 10+, Saf5.1+ */
}

/*Hobbit Form-Ui*/
input[type="text"], 
input[type="password"], 
input[type="search"], 
input[type="tel"], 
input[type="number"], 
textarea { }
input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="search"]:focus, 
input[type="tel"]:focus, 
input[type="number"]:focus, 
textarea:focus { 
    box-shadow: 0 0 12px #387BBE;
	-webkit-box-shadow: 0 0 12px #387BBE;
}

.ui_radio { }
.ui_checkbox { }
.ui_select { }

/*Hobbit Content-Ui*/
.ui_tabs { }
.ui_toolbar { }
.ui_list { }
.ui_accordion { }